.feautured {
}

.feautured__subtitle {
  font-size: var(--size-sm);
  color: var(--clr-purple);
  text-transform: capitalize;
  font-weight: 400;
}

.feautured__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.feautured__title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
  text-transform: uppercase;
}

.feautured__link {
  width: var(--size-2xl);
  height: var(--size-2xl);
}

.feautured__description {
  max-width: 60ch;
  color: var(--clr-slate600);
  font-size: var(--size-sm);
  margin: 1rem 0;
}

.feautured__info-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.feautured__info-container div {
  flex: 1;
  min-width: 250px;
}

.feautured__label {
  font-size: var(--size-base);
  text-transform: capitalize;
  margin-bottom: 0.25rem;
}

.feautured__tech-stack {
  padding: 0;
  list-style: none;
}

.feautured__info {
  font-size: var(--size-sm);
  text-transform: capitalize;
  color: var(--clr-slate600);
}

.feautured__image-wrapper {
  position: relative;
}

.feautured__image-wrapper::after {
  content: '';
  background-color: rgba(97, 107, 253, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.3s;
}

.feautured__image-wrapper:hover::after {
  background-color: rgba(97, 107, 253, 0.1);
}

.feautured__image-container {
  margin-top: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/* xs */
@media (min-width: 475px) {
  .feautured__subtitle {
    font-size: var(--size-base);
  }

  .feautured__link {
    width: var(--size-3xl);
    height: var(--size-3xl);
  }

  .feautured__description {
    font-size: var(--size-base);
    margin: 1.5rem 0;
  }

  .feautured__label {
    font-size: var(--size-lg);
  }

  .feautured__info {
    font-size: var(--size-base);
  }

  .feautured__image-container {
    margin-top: 1.5rem;
    grid-gap: 1.5rem;
  }
}

/* sm */
@media (min-width: 640px) {
  .feautured__image-container {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 1024px) {
  .feautured__subtitle {
    font-size: var(--size-4xl);
  }

  .feautured__subtitle {
    font-size: var(--size-lg);
  }

  .feautured__link {
    width: var(--size-4xl);
    height: var(--size-4xl);
  }

  .feautured__description {
    font-size: var(--size-lg);
  }

  .feautured__label {
    font-size: var(--size-xl);
  }

  .feautured__info {
    font-size: var(--size-lg);
  }

  .feautured__image-container {
    margin-top: 2rem;
    grid-gap: 2rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .feautured__subtitle {
    font-size: var(--size-xl);
  }

  .feautured__link {
    width: var(--size-5xl);
    height: var(--size-5xl);
  }

  .feautured__description {
    font-size: var(--size-xl);
    margin: 2rem 0;
  }

  .feautured__label {
    font-size: var(--size-2xl);
  }

  .feautured__info {
    font-size: var(--size-xl);
  }
}

/* 2xl */
@media (min-width: 1536px) {
}
